body, html {
  height: 100%;
}
* {
  margin: 0;
}


#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.blog-image img {
  padding-top: 15px;
}

.blog-title {
  display: inline-block;
}

.blog-title a {
  text-decoration: none;
}

.blog-title h1 {
  transition: 0.1s;
}

.blog-title h1:hover {
  color: #108EE9;
}

.blog-title h1 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.blog-steps {
  padding-top: 32px;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

.ant-layout {
  background-color: #fff;
}

.blog-progress-bar {
  display: inline-block;
}

.blog-tags {
  display: inline-block;
  padding-left: 95px;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ant-layout-content {
  min-height: calc(100vh - 295px);  
}

.ant-layout-footer {
  background-color: #e9e9e9;
}
